<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css
" rel="stylesheet">

  <link rel="icon" href="/public/images/logo2.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
<style>
  .nav-head{
  border-bottom: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 15px;
}
.container1{
  margin-top: 50px;
}



</style>
</head>
<body class="align-items-center">
  <nav class="navbar navbar-expand-lg navbar-white bg-white nav-head">
    <div class="container-fluid">
      <div class="me-1">
        <img width="100px" src="/imagesLocal/logo2.png" alt="">
      </div>
      <a class="navbar-brand" href="#">STOP SHOPPERS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><strong>DASHBOARD</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-4" href="#"><strong>ORDERS</strong></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ms-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>PRODUCTS</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/adminProduct">Products</a></li>
              <li><a class="dropdown-item" href="/addProduct">Add Products</a></li>
              <li><a class="dropdown-item" href="/adminCategory">Category</a></li>
              <li><a class="dropdown-item" href="/addCategory">Add Category</a></li>
             
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-4" href="/adminUsers"><strong>USERS</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-4" href="#"><strong>BANNER</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-4" href="#"><strong>COUPONS</strong></a>
          </li>
        </ul>
        <div class="dropdown me-5 border">
          <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user me-2"></i>
            PROFILE
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#"><%= adminName %></a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>