<%- include('../includes/usersPartials/userHead.ejs') %>
<style>
  .form-input{
  border: none;
  border-bottom: 2px solid #717fe0;
  border-radius: 0;
}
.form-control:focus{
  box-shadow: none !important;
}
.container-main{
  margin-top: 7%;
}
</style>
<div class="container container-main p-5 border mb-5">
  <div><h2>ADD ADDRESS</h2></div>
  <form id="form" action="/addAddress/<%=userid%>" method="post">
  <div class="row">
    <div class="col-md-6 mt-5">
      <div>
          <input id="firstname" type="text" name="firstname" class="form-control p-3 mt-1 form-input" placeholder="Enter the firstname">
          <p style="font-size: smaller;" class="mt-2 text-danger warn"></p>
        </div>
    </div>
    <div class="col-md-6 mt-5">
      <div>
          <input id="lastname" type="text" name="lastname" class="form-control p-3 mt-1 form-input" placeholder="Enter the lastname">
          <p style="font-size: smaller;" class="mt-2 text-danger warn"></p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5">
      <div>
          <input id="address" type="text" name="address" class="form-control p-3 mt-1 form-input" placeholder="Street/Home Address">
          <p style="font-size: smaller;" class="mt-2 text-danger warn"></p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <div>
          <input id="state" type="text" name="state" class="form-control p-3 mt-1 form-input" placeholder="State">
          <p style="font-size: smaller;" class="mt-2 text-danger warn"></p>
        </div>
    </div>
    <div class="col-md-6 mt-5">
      <div>
          <input id="district" type="text" name="district" class="form-control p-3 mt-1 form-input" placeholder="Enter your District Name">
          <p style="font-size: smaller;" class="mt-2 text-danger warn"></p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <div>
          <input id="city" type="text" name="city" class="form-control p-3 mt-1 form-input" placeholder="Enter your city">
          <p style="font-size: smaller;" class="mt-2 text-danger warn"></p>
        </div>
    </div>
    <div class="col-md-6 mt-5">
      <div>
          <input id="locality" type="text" name="locality" class="form-control p-3 mt-1 form-input" placeholder="Enter your locality">
          <p style="font-size: smaller;" class="mt-2 text-danger warn"></p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <div>
          <input id="postalCode" type="text" name="postalCode" class="form-control p-3 mt-1 form-input" placeholder="Enter your Postal Code">
          <p style="font-size: smaller;" class="mt-2 text-danger warn"></p>
        </div>
    </div>
    <div class="col-md-6 mt-5">
      <div>
          <input id="phone" type="text" name="phone" class="form-control p-3 mt-1 form-input" placeholder="Enter your Phone Number">
          <p style="font-size: smaller;" class="mt-2 text-danger warn"></p>
        </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
  <button type="submit" style="color: #ffffff;background-color: #b04fff;" class="btn mt-4">Add Address</button>
</div>
</form>
</div>



<script>
  const form = document.getElementById('form');
  const firstname = document.getElementById('firstname');
  const lastname = document.getElementById('lastname');
  const address = document.getElementById('address');
  const state = document.getElementById('state');
  const district = document.getElementById('district');
  const city = document.getElementById('city');
  const locality = document.getElementById('locality');
  const postalCode = document.getElementById('postalCode');
  const phone = document.getElementById('phone');


  form.addEventListener('submit',(e)=>{
    e.preventDefault();

    if(!validateForm()){
      form.submit();
    };
  })

function setError(element,message){
  const inputDiv = element.parentElement;
  const displayMessage = inputDiv.querySelector('.warn');
  displayMessage.innerText = message; 
}



function validateForm (){
  const firstnameVal = firstname.value.trim();
  console.log(firstnameVal);
  const lastnameVal = lastname.value.trim()
  const addressVal = address.value.trim();
  const stateVal = state.value.trim();
  const districtVal = district.value.trim();
  const cityVal = city.value.trim();
  const localityVal = locality.value.trim();
  const postalCodeVal = postalCode.value.trim();
  const phoneVal = phone.value.trim();
let isError = false;
let lettersOnlyRegex = /^[A-Za-z\s]*$/;

  if(firstnameVal === ''){
    isError = true ;
    setError(firstname,'This Field Cannot be Empty');
  }else if(!lettersOnlyRegex.test(firstnameVal)){
    isError=true;
    setError(firstname,'Invalid Entry');
  }else{
    setError(firstname,'');
  }

  if(lastnameVal === ''){
    isError=true;
    setError(lastname,'This Field Cannot be Empty')
  }else if(!lettersOnlyRegex.test(firstnameVal)){
    isError=true;
    setError(lastname,'Invalid Entry');
  }else{
    setError(lastname,'');
  }

  if(addressVal === ''){
    isError = true;
    setError(address,'This Field Cannot Be Empty')
  }else{
    setError(address,'')
  }

  if(stateVal === ''){
    isError = true;
    setError(state,'This Field Cannot Be Empty')
  }else if(!lettersOnlyRegex.test(stateVal)){
    isError = true;
    setError(state,'Invalid Entry');
  }else{
    setError(state,'');
  }

  if(districtVal === ''){
    isError =true;
    setError(district,'This Field Cannot Be Empty')
  }else if(!lettersOnlyRegex.test(districtVal)){
    isError = true;
    setError(district,'Invalid Entry');
  }else{
    setError(district,'');
  }

  if(cityVal === ''){
    isError =true;
    setError(city,'This Field Cannot Be Empty')
  }else if(!lettersOnlyRegex.test(cityVal)){
    isError = true;
    setError(city,'Invalid Entry');
  }else{
    setError(city,'');
  }

  if(localityVal === ''){
    isError =true;
    setError(locality,'This Field Cannot Be Empty')
  }else{
    setError(locality,'');
  }
  const numbersOnlyRegex = /^[0-9]/ ;
  if(postalCodeVal === ''){
    isError =true;
    setError(postalCode,'This Field Cannot Be Empty')
  }else if(!numbersOnlyRegex.test(postalCodeVal)){
    isError = true;
    setError(postalCode,'Invalid Entry');
  }else{
    setError(postalCode,'');
  }

  let mobileRegex = /^\d{10}$/;
  if(phoneVal === ''){
    isError =true;
    setError(phone,'This Field Cannot Be Empty')
  }else if(!mobileRegex.test(phoneVal)){
    isError = true;
    setError(phone,'Invalid Number');
  }else{
    setError(phone,'');
  }


return isError;
}
</script>
<%- include('../includes/usersPartials/userEnd.ejs') %>